.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #dddddd solid;
	border-radius: 4px;
	text-align: center;
	position: relative;
	display: flex;
}

button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	right: 30px;
	position: absolute;
	text-align: center;
	margin: 10px auto;
}

button:hover {
	opacity: 90%;
}

.locations {
	height: 100%;
	width: 25%;
	border-right: #dddddd 1px solid;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: left;
	padding: 0 2rem;
	line-height: 1.5rem;
}

.amenities {
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: left;
	padding: 0 2rem;
	line-height: 1.5rem;
}

.amenities h3,
.locations h3 {
	font-weight: 600;
	margin: 0;
	width: 80%;
}

.amenities h4,
.locations h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	width: 80%;
}