.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #dddddd solid;
	border-radius: 4px;
	text-align: center;
	position: relative;
	display: flex;
}

button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	right: 30px;
	position: absolute;
	text-align: center;
	margin: 10px auto;
}

button:hover {
	opacity: 0.9;
}

.locations {
	height: 100%;
	width: 25%;
	border-right: #dddddd 1px solid;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: left;
	padding: 0 2rem;
	line-height: 1.5rem;
	position: relative;
}

.locations:hover .popover {
	display: block;
}

.amenities {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	line-height: 1.5rem;
	position: relative;
}

.amenities-inner {
	padding: 0 3rem;
}

.amenities h2 {
	padding: 0.5rem 0;
}

.popover {
	padding: 1rem 0 3rem;
	margin-top: 0;
	display: none;
}

.amenities:hover .popover {
	display: block;
}

.amenities h3,
.locations h3 {
	font-weight: 600;
	margin: 0;
	width: 80%;
}

.amenities h4,
.locations h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	width: 80%;
}

h2 {
	font-size: 16px;
	margin: 0;
}

.amenities ul {
	list-style: none;
}

.locations .popover {
	background-color: #fafafa;
	border: #dddddd 1px solid;
	border-radius: 4px;
	width: 100%;
	list-style: none;
	position: absolute;
	left: 0;
	top: 100%;
}

.amenities .popover {
	background-color: #fafafa;
	border: #dddddd 1px solid;
	border-radius: 4px;
	width: 100%;
	list-style: none;
	position: absolute;
	left: 0;
	top: 100%;
}

.popover li {
	padding: 0 2rem;
}

.popover li h2 {
	margin: 10px 0 5px;
}
